{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>{% include 'account/header.html' %}
    <main>
        <div class="intro">
            <section class="presentation">
            <div class="introduction">
                <div class="intro-text">
                    <h1>createAdventure</h1>
                    <p>
                        “NOT ALL THOSE WHO WANDER ARE LOST.” – J.R.R. TOLKIEN
                    </p>
                </div>
            </div>
            <div class="cover">
                <img src="{% static 'img/compass.jpg' %}" alt="">
            </div>
        </section>
        </div>
        <section>
            <div>
{#                <img src="{% static 'img/compass.jpg' %}" alt="">#}
            </div>
        </section>
    </main>
{% include 'account/footer.html' %}
</body>
</html>