*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn{
    font-family: 'PT Sans', sans-serif;
    padding: .5rem 1rem;
    background: #c49e00;
    color: black;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.btn-big{
    padding: .7rem 1.3rem;
    line-height: 1.3rem;
}
.btn:hover{
    color: white !important;
    background: rgb(49, 12, 58);
}
html, body{
    height: 100%;
}
.footer{
    /*font-family: 'Source Sans Pro', sans-serif;*/
    font-family: 'PT Sans', sans-serif;
    /*background: radial-gradient(#32466D, #28040F);*/
    background: #172f6e;
    color: antiquewhite;
    height: 400px;
    position: relative;
}
.footer-content{
    /*border: 1px solid red;*/
    height: 350px;
    display: flex;
}
.footer-section{
    flex: 1;
    padding: 25px;
}

.footer-content h1,
.footer-content h2{
    color: white;
}

.logo-text{
    font-family: 'Sansita Swashed', cursive;
}

/*.footer-content .about h1 span{*/
/*    color: #E6B954;*/
/*}*/
.footer-content .about{
    /*color: #9E0000;*/
    background: #00220e;
}

.footer-content .about .contact span{
    display: block;
    font-size: 1.1rem;
    margin-bottom: 8px;
}
.footer-content .about .socials a{
    /*border: 1px solid grey;*/
    color: #063fd6;
    width: 45px;
    height: 41px;
    padding-top: 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.3rem;
    border-radius: 5px;
    transition: all .3s;
}
.footer-content .about .socials a:hover{
    border: 1px solid wheat;
    color: white;
    transition: all .3s;
}
.footer-content .links ul a{
    color: #E6B954;
    display: block;
    margin-bottom: 10px;
    font-size: 1.2rem;
    transition: all .3s;
    list-style: none;
    text-decoration: none;
}
.footer-content .links ul a:hover{
    color: white;
    margin-left: 15px;
    transition: all .3s;
}
.footer-content .contact-form .contact-input{
    background: #E6B954;
    color: black;
    margin-bottom: 10px;
    line-height: 1.5rem;
    padding: .9rem 1.4rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    width: 300px;

}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: black;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: black;
}

.footer-content .contact-form .contact-input:focus{
    background: #101010;
    color: white;
}
.footer-content .contact-form .contact-btn{
    float: left;
}
.footer-bottom{
    background-color: rgb(10, 10, 10);
    color: #E6B954;
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 20px;
}
@media only screen and (max-width: 934px){
    .footer{
        height: auto;
    }
    .footer-content{
        height: auto;
        flex-direction: column;
    }
    .footer-content .contact-form{
        padding-bottom: 90px;
    }
    .footer-content .contact-form .contact-input{
        width: 100%;
    }
    .footer-content .contact-form .contact-btn{
        width: 100%;
    }
}